<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="FlaskRule" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="app.py/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
